extends layout
block content
  form(method='POST')
    table
      tr
        td Number of d10s
        td
          input(type='number', name='diceCount', min=1, max=99, required=true, value=diceCount)
        td
          button(type='submit', formaction='/dice/roll') Roll
      tr
        td MaxDice
        td
          input(type='number', name='maxDice', min=1, max=99, required=true, value=maxDice)
        td (ask GM)
    br
    if (sum)
      input#sum(type='hidden', value=sum, name='sum')
      input#dice(type='hidden', value=dice, name='dice')
      table
        tr
          td Sum:
            if (oldSum)
              output #{oldSum} --> #{sum}
            else
              output #{sum}
          td
            div.w3-border
              div.w3-grey(style='height:4px;width:55%')
            div.w3-border
              if (percent >= 55)
                div.w3-green.w3-container.w3-center(style='height:20px;width:' + percent + '%')
              else
                div.w3-yellow.w3-container.w3-center(style='height:20px;width:' + percent + '%')
        tr
          td Dice
          td #{dice}
        if (lowest)
          tr
            td Dropped
            td #{lowest}
        tr
          td Spend Hero Token
          td
            button(type='submit', formaction='/dice/hero') Roll 1 more, drop lowest
        tr
          td.middle or
          td
        tr
          td Spend Drama Point
          td
            button(type='submit', formaction='/dice/drama') Roll 2 more, drop lowest








