extends layout

block content
    form(method='POST', action='/resetForgottenPassword')
        table
            tr
                td
                  input(type='radio', name='idtype', id='radio_name', value='name', required=true)
                  label(for='radio_name') Username
                  br
                  input(type='radio', name='idtype', id='radio_email' value='email', required=true)
                  label(for='radio_email') Email
                td
                  input(type='text', name='username', placeholder='Login id', required=true)
            tr
                td Security Question
                td
                    select(name='question', required=true)
                        option(value='', disabled=true, selected=true) Question chosen
                        each question in securityQuestions
                            option(value=question) #{question}
            tr
                td Security Answer
                td
                    input(type='text', name='answer', placeholder='Answer given' required=true)
            tr
                td New password
                td
                    input(type='password' name='password1' placeholder='New password', required=true)
            tr
                td Confirm new password
                td
                    input(type='password' name='password2' placeholder='Confirm new password', required=true)
            tr
                td
                td
                    button(type='submit') Reset Password
    output.error #{error}