extends layout

block content
  form(method='POST', action='/updateGM')
    table
      tr
        td Username
        td
          input(type='text', name='username', placeholder='Login id', value=user.name, required=true)
      tr
        td Display Name
        td
          input(type='text', name='displayName', placeholder='Players see this', value=user.displayName, required=true)
      tr
        td Email
        td
          input(type='text', name='email', placeholder='email@provider.org', value=user.email, required=true)
      tr
        td
        td
          button(type='submit') Update
    br
    a(href='/updatePassword') Update Password