extends layout

block content
  strong
    label(for='gameSession') Session:
    output#gameSession  #{gameSession.name}
    br
    label(for='gmName') GameMaster:
    output#gmName  #{gm.name}
    br
  #timelineTable
    table
      thead
        tr
          th Character/NPC/Event
          th Stun
          th Time
          th React
      tbody
        each item in timeline
            tr(style="background-color:"+item.color)
              td
                input(disabled=true, value=item.name)
              td
                input(disabled=true, value=item.stun)
              td
                input(disabled=true, value=item.time)
              td
                input(disabled=true, value=item.nextAction)
        else
          tr
            td Empty Timeline
            td ...
            td ...
            td ...