extends layout

block content
  strong
    label(for='gameSession') Session:
    output#gameSession  #{gameSession.name}
    br
    label(for='gmName') GameMaster:
    output#gmName  #{gm.name}
    br
  #timelineTable
    table.playerView
      thead
        tr
          th.name Character/NPC/Event
          th.min Stun
          th.action Actions
          th.min Time
          th.min React
      tbody
  br
  #dizeZone.diceZone Dice Roller
    form#diceForm(method='POST')
      input#gameSessionID(type='hidden', value=gameSession._id, name='gameSessionID')
      table
        tr
          td Character Name
          td(colspan='2')
            input(type='text', name='characterName', placeholder='Leave blank or share rolls')

        tr
          td Number of d10s
          td
            input(type='number', name='diceCount', min=1, max=99, required=true, value=3)
          td
            button.dice(type='submit' name='roll') Roll
        tr
          td MaxDice
          td
            input(type='number', name='maxDice', min=1, max=99, required=true, value=10)
          td (ask GM)
      br
      br
      table#diceResults
        tr
          td Sum:
            output#sumString
            input#sum(type='hidden', name='sum')
          td
            div.w3-border
              div.w3-grey(style='height:4px;width:55%')
            div.w3-border
              div#rollBar.w3-container.w3-center(style='height:20px')
        tr
          td Dice
          td
            output#diceString
            input#dice(type='hidden', name='dice')
        tr#dropped
          td Dropped
          td
            output#droppedDice
        tr
          td Spend Hero Token
          td
            button.dice(type='submit', name='hero') Roll 1 more, drop lowest
        tr
          td.middle or
          td
        tr
          td Spend Drama Point
          td
            button.dice(type='submit', name='drama') Roll 2 more, drop lowest
  br
  #diceMessages.diceMessages
    ul
      each line in diceLog
        li #{line.entry}