extends layout

block content
  table.powerSet
    tbody
      tr
        td Super Hero Power
        td #{powerSet.name}
      tr
        td(colspan=2) #{powerSet.openText}
      tr
        td(colspan=2) #{powerSet.abilityText}
      tr
        td(colspan=2) #{abMods}
      tr
        td(colspan=2) #{powerSet.powersText}
  each list, index in powers
    if (list.length > 0)
      button(id='toggle' + index, onclick='toggle(this, "powersTable' + index + '")') Hide Tier #{index + 1} (#{list.length})
  each list, index in powers
    div(id = 'tierZone'+index)
      div(id = 'powersTable'+index)
  script.
    let powers = !{JSON.stringify(powers)};



