extends layout
block content
  form(method='POST' enctype='multipart/form-data')
    label(for='powers') Powers Spreadsheet
    input#powers(type='file' name='powers')
    button(type='submit') Upload
    br
    if error
      label Errors
      pre.error #{error}
    br
    label #{message}
    br
    if (newPowerSets)
      label New Power Sets
      pre #{newPowerSets}
      br
      br
      label Updated Power Sets
      pre #{updatedPowerSets}
      br
      br
      label Unchanged Power Sets
      pre #{unchangedPowerSets}
      br
      label New Powers
      pre #{newPowers}
      br
      label Updated Powers
      pre #{updatedPowers}
      br
      label Unchanged Powers
      pre #{unchangedPowers}





